<div class="wrapper">
  <section class="section-profile-cover section-shaped my-0">
    <img class="bg-image" src="assets/img/ill/p8.svg" style="width: 100%;"/>
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-secondary" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section bg-secondary">
    <div class="container">
      <div *ngIf="!loading" class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="col-md-12 row justify-content-center post-image-container">
            <div class="card-profile-image">
              <img class="rounded-circle" src="{{ post.data?.featured_image }}" />
            </div>
          </div>
          <div class="row justify-content-center mt-o-200">
            <div class="text-center mt-5">
              <h3>{{ post.data?.author.first_name }} {{ post.data?.author.last_name }}</h3>
              <!-- <div class="h6 font-weight-300">
                {{ post.data?.published | date }}
              </div> -->
            </div>
          </div>
          <div class="mt-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-md-12 post-content">
                <div class="col-md-12" [innerHTML]="post.data?.body"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
