<div class="container text-center">
  <div class="row mb-5">
    <div class="col-md-8 mx-auto">
      <h3 class="display-3 mt-30">Latest Posts</h3>
    </div>
  </div>
  <div class="row align-items-center">
    <ul class="col-md-12 blog-list">
      <li class="col-lg-6">
        <div class="card card-blog card-background" data-animation="zooming">
          <div class="full-background" style="background-image: url('assets/img/sections/damian.jpg')"></div>
          <a href="javascript:;">
            <div class="card-body">
              <div class="content-bottom">
                <h6 class="card-category text-white opacity-8">
                  AI at the Edge
                </h6>
                <h5 class="card-title">Research Byte</h5>
              </div>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <button class="btn btn-icon btn-primary mt-4 mb-30" type="button">
    <span class="btn-inner--text"> Show more </span>
    <span class="btn-inner--icon">
      <i class="ni ni-bold-right"> </i>
    </span>
  </button>
</div>