<div class="page-header">
  <div class="page-header-image" style="background-image: url('assets/img/ill/p8.svg')"></div>
  <div class="container pt-300">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <h2 class="display-2">Imposter Coding</h2>
      </div>
    </div>
    <div class="row">
      <div class="floating-box bg-default">
        <div class="box text-center">
          <div class="icon icon-shape bg-success icon-xl rounded-circle text-white">
            <i class="ni ni-spaceship"> </i>
          </div>
        </div>
        <h2 class="lead text-white p-5">
          This isn't just another coding blog. At Imposter Coding, we embrace our inner imposter syndrome.
        </h2>
      </div>
    </div>
  </div>
</div>