<div class="page-header">
  <div class="page-header-image" style="background-image: url('assets/img/ill/p8.svg')"></div>
  <div class="container ph-200">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <h2 class="display-2 home-title">Imposter Coding</h2>
      </div>
    </div>
    <div class="row tagline">
      <div class="floating-box bg-default">
        <h2 class="lead text-white p-5">
          Embrace Your Inner Imposter Syndrome
        </h2>
      </div>
    </div>
  </div>
</div>