.mt-30 {
  margin-top: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

ul.blog-list {
  display: flex !important;
  flex-wrap: wrap !important;
  padding: 0px !important;
}

.blog-list li {
  list-style-type: none !important;
}

.full-background img {
  height: 100% !important;
}
