.nav-container {
  display: flex !important;
  justify-content: space-between !important;
  height: 100% !important;
}

.home-title {
  font-size: 3.5rem !important;
}

.transparent-background {
  background: rgba(255, 255, 255, 0.7);
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mt-o-200 {
  margin-top: -200px !important;
}

ul.blog-list {
  display: flex !important;
  flex-wrap: wrap !important;
  padding: 0px !important;
}

.blog-list li {
  list-style-type: none !important;
}

.full-background img {
  height: 100% !important;
}

.post-image-container {
  width: 100% !important;
}

.post-featured-image {
  max-width: 450px !important;
}

.blog-list ul {
  list-style-type: none;
  padding-left: 0px;
}

.blog-list ul li {
  margin-bottom: 40px;
}

.blog-list-item {
  cursor: pointer !important;
}

.blog-list-image {
  width: 100%;
}

.blog-list-image img {
  width: 100%;
}

.blog-card {
  display: flex;
}

.blog-title {
  font-weight: 600;
}

.blog-image-block {
  display: flex;
}

.blog-list-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.category-list {
  display: flex !important;
  flex-wrap: wrap !important;
  padding: 0px !important;
  margin-top: 50px;
}

.category-list-item {
  max-height: 200px !important;
}

.category-list-item .card-body {
  display: flex;
  align-items: center;
  min-height: 200px !important;
  max-height: 200px !important;
  padding-top: 30px !important;
  background-color: #727e9b !important;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.category-list-item .card-body:hover {
  background-color: #59cb90 !important;
}

.category-list li {
  list-style-type: none !important;
}

.category-list ul {
  list-style-type: none;
  padding-left: 0px;
}

.category-list ul li {
  margin-bottom: 40px;
}

.category-list-item {
  cursor: pointer !important;
}

.category-list-image {
  width: 100%;
}

.category-list-image img {
  width: 100%;
}

.category-list-title {
  margin: 0px !important;
  font-size: 1.6rem !important;
}

.tag-section {
  display: flex;
  ul {
    display: inherit;
    li {
      margin-bottom: 0px;
      span {
        background-color: rgba(52, 98, 175, 0.8);
        color: #ffffff;
      }
    }
  }
}

#border-component {
  display: flex !important;
  justify-content: center !important;
  z-index: 5 !important;
  margin: 50px 0px !important;
}

.spinner-border {
  width: 10rem !important;
  height: 10rem !important;
  border: 1em solid #59cb90 !important;
  border-right-color: transparent !important;
  -webkit-animation: spinner-border 1s linear infinite !important;
  animation: spinner-border 1s linear infinite !important;
}

.blog-description {
  font-size: 1.15rem;
  font-weight: 500;
}

.sponsor {
  display: flex;
  justify-content: flex-end;
}

.sponsor p {
  margin-bottom: 0px;
  color: #000000;
}

.sponsor img {
  height: 60px;
}

.post-tag-section {
  display: flex;
  justify-content: center;
}

.post-tag-list {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0.5rem;
  li {
    span {
      font-size: 16px;
    }
  }
}

.tagline {
  display: flex;
  justify-content: center;
}

.ph-200 {
  padding-top: 200px !important;
  padding-bottom: 200px !important;
}

.social-footer-buttons {
  text-align: right !important;
}
